*{
    margin:0;
    padding:0;
    font-family: "Poppins", serif;
}

h1{
    text-align: center;
    background-color:#9A6582;
    
}

nav ul{
    text-align:right;
    list-style:none;
    display:flex;
    background-color:black;
        
}

nav li{
    margin-left:150px;
    margin-right:50px;
    padding-top: 20px;
    
    
}

nav a{
    
    text-decoration: none;
    color:#68db24;
    font-size:20px;
    box-shadow: grey;
    
}

.main_box{
    background: url("seacamera.jpg");
    height:100vh;
    background-size:cover;

}

.social_media{
    position:fixed;
    left:25px;
    bottom:30px;
        
}

.social_media i{
    padding-left:10px;
    color:#cb3456;

}
.info h2{
    position:fixed;
    left:40%;
    top:20%;
    background-color:#3EC19D;
    font-weight:bolder;
    font-size:x-large;
    color:#f1d90e;    
}

.info p1{
    position:fixed;
    bottom:450px;
    left:250px;
    font-size:20px;
    color:#CC3385;
}

.info p2{
    position:fixed;
    bottom:320px;
    left:250px;
    font-weight:bold;
}

.button1{
    position:fixed;
    right:250px;
    top:160px;
    
}

.button2{
    position:fixed;
    right:100px;
    top:160px;

}

.button1 button{
    background-color: #5f23dc;
    color:white;
    border-radius:35%;
    transform:scale(1.5);
}

.button2 button{
    background-color:#5f23dc;
    color:white;
    border-radius:35%;
    transform:scale(1.5);
}

.main_box .About_us li a:hover {
    font-size:25px;
    background-color:floralwhite;
}

.button1 button:hover{
    font-size:15px;
}

.button2 button:hover{
    font-size:15px;
}

 .social_media i:hover{
    transform:scale(1.5);
}
    
